!!!
%html.no-js{lang: 'en'}
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %meta{charset: 'utf-8'}
    %meta{content: 'ie=edge', 'http-equiv' => 'x-ua-compatible'}
    %meta{content: 'width=device-width, initial-scale=1.0', name:'viewport'}
    %title= current_resource.data.title
    = javascript_include_tag 'modernizr'
    = javascript_include_tag 'instafeed'
    -# = javascript_include_tag 'foundation.core'
    -# = javascript_include_tag 'foundation.sticky'
    -# = javascript_include_tag 'jquery.min'
    -# = javascript_include_tag 'handlebars.min'
    -# = javascript_include_tag 'behance'
    = stylesheet_link_tag 'style'
    = stylesheet_link_tag 'scss/foundation'
    = stylesheet_link_tag 'foundation/foundation'
    = stylesheet_link_tag 'scss/foundation'
    = stylesheet_link_tag 'style_modified'
    = stylesheet_link_tag 'style'

    -# %script#profile-template{:type => "text/x-handlebars-template"}
    -# :cdata
    %body{class: page_classes}



    = partial 'partials/nav'
    = yield
    = javascript_include_tag  'all'
    = partial 'partials/about'
    = partial 'partials/portfolio'
    = partial 'partials/resume'
    = partial 'partials/footer'
