!!!
%html.no-js{lang: 'en'}
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %meta{charset: 'utf-8'}
    %meta{content: 'ie=edge', 'http-equiv' => 'x-ua-compatible'}
    %meta{content: 'width=device-width, initial-scale=1.0', name:'viewport'}
    %title= current_resource.data.title
    = stylesheet_link_tag 'style'
    = stylesheet_link_tag 'style_modified'
    = javascript_include_tag 'modernizr'
    %body{class: page_classes}

      .title-bar.topbar-center-logo-mobile{'data-hide-for': 'medium', 'data-responsive-toggle': 'topbar-center-logo'}
        .title-bar-left
          .title-bar-title
            %img{alt: '', src: 'https://placehold.it/100x39'}

      .top-bar-left
        %ul.menu.vertical.medium-horizontal
          %ul.menu.dropdown{'data-dropdown-menu': ''}

            -# -data.sitemap.each do |item|
            -#   %li
            -#     %a{href: "#{item[:link]}"}
            -#       %if item[:children]
            -#         =item[:children]
            -#           %elsif
            -#             =item[:title]
            %li
              %a{href: 'portfolio.html.haml'} Portfolio
            %li
              %a{href:'coursework.html'} Resume
            %li
              %a{href: 'coursework.html'} Bootcamp projects
              %ul.menu
                %li
                  %a{href: ''} ATM machine sim
                %li
                  %a{href: 'https://lcegit.github.io/bmi_calculator'} BMI calculator
                %li
                  %a{href: 'slowfood.html'} Slow food challenge
                %li
                  %a{href: ''} Portfolio challenge
                %li
                  %a{href: ''} Software as a Service med Ruby on Rails
                %li
                  %a{href: ''} Midcourse project
                %li
                  %a{href: ''} Mobile app
                %li
                  %a{href: ''} Agile methodologies, advanced Rails, APIs
                %li
                  %a{href: ''} Final project
            %li
              %a{href: 'blog.html'} Blog
            %li
              %a{href: 'about.html'} About

        .title-bar-right
          %button.menu-icon{'data-toggle': 'topbar-center-logo', type: 'button'}

    -#
    -# .projects
    -#   - data.projects.each do |project|
    -#     %h4= project[:name]
    -#     %p= project[:description]
    -#
    -#

    = yield
    = partial 'partials/footer'
    = javascript_include_tag  'all'
