.grid-x
  .row
    .grid-x.grid-margin-x
      #instagram
        :javascript
          feed = new Instafeed({
              get: 'user',
              userId: 220197657,
              clientId: '3cdb02c41faf47528f1decee3512f4d9',
              accessToken: '220197657.3cdb02c.ff452d23060e45f3ae7e04f206772d18',
              target: 'instagram',
              template: '<a href="{{link}}"><img src="{{image}}"/></a>',
              limit: 8,
              sortBy: 'random',
          });
          feed.run();

%footer
  .extra-padding
    .footer.footer-nav.row.expanded.collapse
      .footer-nav-left
      .footer-nav-center
        %ul.menu.space
          = link_to ('<div class="icons"><i class="fab fa-github fa-2x"></i></div>'), 'https://www.github.com/lcegit'
          = link_to ('<div class="icons"><i class="fab fa-linkedin-in fa-2x"></i></div>'), 'https://www.linkedin.com/in/lisaceriksson/'
          = link_to ('<div class="icons"><i class="fab fa-instagram fa-2x"></i></div>'), 'https://www.instagram.com/wyggii'
          = link_to ('<div class="icons"><i class="fab fa-flickr fa-2x"></i></div>'), 'https://www.flickr.com/wyggii'
          = link_to ('<div class="icons"><i class="fab fa-behance fa-2x"></i></div>'), 'https://www.behance.net/lisaeriksson'
          #{mail_to 'lisa.c.eriksson@gmail.com', ('<div class="icons"><i class="far fa-envelope fa-2x"></i></div>'), :cc => "lisa.c.eriksson@gmail.com"}
        .footer-nav-right
